<div class="panel panel-default">
  <div class="panel-heading">
      合作伙伴一览表
    <div class="pull-right">
      <%= link_to "新建合作伙伴", new_admin_cooperation_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>
   <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>合作商户</th>
          <th>图片链接</th>
          <th style="width:120px;">创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @current_site.cooperations.each do |cooperation| %>
          <tr>
            <td><%= cooperation.cooperation_company %></td>
            <td><%= cooperation.cooperation_url %></td>
            <td><%= image_tag(cooperation.avatar_url("666")) %></td>
            <td><%= cooperation.created_at.strftime("%F %T")%></td>
            <td>
              <%= link_to "修改", edit_admin_cooperation_path(cooperation), class: "btn btn-default btn-xs" %>
              <%= link_to "删除", admin_cooperation_path(cooperation), method: :delete, class: "btn btn-default btn-xs" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
