<div class="intro">
  <div class="sideMenu">
    <h2><em>我们的优势 / </em>介绍</h2>
    <ul id="list">
      <tr>
        <td><%= link_to "我们的优势1", page_1_path %></td>
        <td><%= link_to "我们的优势2", page_2_path %></td>
        <td><%= link_to "我们的优势3", page_3_path %></td>
        <td><%= link_to "我们的优势4", page_4_path %></td>
        <td><%= link_to "我们的优势5", page_5_path %></td>
      </tr>
    </ul>
  </div>
  <div class="read">
  </div>
</div>
