<div class="intro">
  <div class="sideMenu">
    <h2><em>我们的优势 / </em>介绍</h2>
    <ul id="list">
        <br>
        <%= link_to "我们的优势1", page_1_path %>
        <br>
        <%= link_to "我们的优势2", page_2_path %>
        <br>
        <%= link_to "我们的优势3", page_3_path %>
        <br>
        <%= link_to "我们的优势4", page_4_path %>
        <br>
        <%= link_to "我们的优势5", page_5_path %>
      </tr>
    </ul>
  </div>
  <div class="read">
  </div>
</div>
