<tr>
  <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><%= article.title %></td>
  <!-- <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><%= article.content %></td> -->
  <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;"><%= article.from %></td>
  <td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
    <a href="<%= article.url %>" target="view_window"><%= article.url %></a></td>
  <td><%= article.created_at.strftime("%F %T") %></td>
  <td>
  	<%= link_to "查看", article, class: "btn btn-default btn-xs" %>
  </td>
</tr>
