<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row" style="height: 561px;">
  <div class="col-md-10  col-md-offset-1">
      <br>
      <div class="panel panel-default">
          <div class="panel-heading">
            <h2><%= @article.title %></h2>
          </div>
         <div class="panel-body">
            <h3><%= raw @article.content %></h4>
            <h5>文章来源：<%= @article.from %></h5>
            <h5>文章转载地址：<%= @article.url %><h5>
         </div>
         <br>
         <div class="pull-right">
           <%= link_to '返回首页',articles_path, class: "btn btn-primary pull-right" %>
         </div>
      </div>
  </div>
</div>

 <!-- <div class="col-md-6">
   <div class="panel panel-default">
        <div class="panel-body">
          <%= simple_form_for [@article, @comment] do |f| %>
              <%= f.input :content,              label: "评论" %>
              <div class="text-center">
                <%= f.button :submit, "提 交", class: "btn btn-primary btn-sm" %>
              </div>
          <% end %>
        </div>
  </div>
</div>
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="table-responsive">
      <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>评论内容</th>
        </thead>
        <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.content %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

</body> -->
