<p id="notice"><%= notice %></p>

<h1>Admin Footers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

        <td><%= link_to footer.company_number(@footer, url: admin_site_footer_path(site_id: params[:id])) %></td>
        <td><%= link_to 'Edit', edit_admin_footer_path(admin_footer) %></td>
        <td><%= link_to 'Destroy', admin_footer, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  </tbody>
</table>

<br>

<%= link_to 'New Admin Footer', new_admin_footer_path %>
