<tr>
  <td>
    <%= content.contents_class.name %>
  </td>
  <td><%= link_to content.title, admin_content_path(content) %></td>
  <td>
    <% if content.photos.each do |photo| %>
          <img src="<%= photo.avatar.url("666") %>">
    <% end %>
  </td>
  <td>
    <%= link_to("编辑", edit_admin_content_path(content, contents_class_id: params[:contents_class_id]), class: "btn btn-xs btn-primary")%>|
    <%= link_to("删除", admin_content_path(content, contents_class_id: params[:contents_class_id]), method: :delete, class: "btn btn-xs btn-primary")%>
  </td>
</tr>
<% end %>
