<%= simple_form_for(@user, html: { multipart: true, class: "form-horizontal" }) do |f| %>
  <% if current_user.super?  %>
    <%= f.input :email, label: "用户邮箱", placeholder: 'xxx@xx.com' %>
  <% end %>

  <% if current_user != @user  %>
    <div class="form-group">
    <label class="col-sm-2 control-label">用户权限</label>
     <div class="col-sm-10">
      <% if current_user.role == "super" %>
        <%= f.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize}) %>
      <% end %>
     </div>
     </div>
   <% end %>

   <% if current_user.role == "super" %>
    <div class="line line-dashed b-b line-lg pull-in"></div>
    <div class="form-group">
      <label class="col-sm-2 control-label">用户站点</label>
      <div class="col-sm-10">
        <%= f.collection_select(:site_id, Site.all, :id, lambda{|i| i.domain.to_s}) %>
      </div>
    </div>
   <% end %>

  <div class="line line-dashed b-b line-lg pull-in"></div>
  <%= f.input :password, label: "用户密码"%>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <%= f.input :password_confirmation, label: "确认密码" %>
  <%#= f.input :active, as: :boolean, html: true,  label: "活动宣传图片" %>
  <div class="line line-dashed b-b line-lg pull-in"></div>
  <div class="col-sm-10 col-sm-offset-2">
    <%= f.button :submit, "提 交", class: "btn btn-primary" %>
    <%= link_to "返 回", users_path, class: "btn btn-default" %>
  </div>
<% end %>
