<tr>
  <td><%= slider_picture.content %></td>
  <td>
    <% if slider_picture.avatar_url %>
      <%= image_tag(slider_picture.avatar_url("zoe666"), class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
    <% end %>
    <br>
  </td>
  <td>
    <%= link_to("编辑", edit_admin_slider_picture_path(slider_picture), class: "btn btn-xs btn-primary")%>|
    <%= link_to("删除", admin_slider_picture_path(slider_picture), method: :delete, class: "btn btn-xs btn-primary")%>
  </td>
</tr>
