<p id="notice"><%= notice %></p>

<h1>Admin Classes</h1>

<table>
  <thead>
    <tr>
      <th>Footer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_classes.each do |admin_class| %>
      <tr>
        <td><%= admin_class.Footer %></td>
        <td><%= link_to 'Show', admin_class %></td>
        <td><%= link_to 'Edit', edit_admin_class_path(admin_class) %></td>
        <td><%= link_to 'Destroy', admin_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Class', new_admin_class_path %>
