<p id="notice"><%= notice %></p>

<h1>Navbars</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @navbars.each do |navbar| %>
      <tr>
        <td><%= link_to 'Show', navbar %></td>
        <td><%= link_to 'Edit', edit_navbar_path(navbar) %></td>
        <td><%= link_to 'Destroy', navbar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Navbar', new_navbar_path %>
