<tr>
  <td><%= advantage.content %></td>
  <td><%= advantage.url %></td>
  <td>
    <% if advantage.avatar_url %>
      <%= image_tag(advantage.avatar_url("zoe666"), class: "thumbnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail")%>
    <% end %>
    <br>
  </td>
  <td>
    <%= link_to("编辑", edit_admin_advantage_path(advantage), class: "btn btn-xs btn-primary")%>|
    <%= link_to("删除", admin_advantage_path(advantage), method: :delete, class: "btn btn-xs btn-primary")%>
  </td>
</tr>
