<aside id="aside" class="app-aside app-aside-fixed hidden-xs bg-dark">
  <div class="aside-wrap">
    <div class="navi-wrap">
      <!-- nav -->
      <nav ui-nav class="navi clearfix">
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>导航</span>
          </li>
          <li class="<%= "active" if controller_name == "home" %>">
            <a href="/admin/home" class="auto">
              <i class="glyphicon glyphicon-stats icon text-primary"></i>
              <span class="font-bold">控制面板</span>
            </a>
          </li>
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span>平台管理</span>
          </li>

          <% if can?  :manage, Site %>
              <li class="<%= "active" if controller_name == "admin::sites" %>">
                <a href="/admin/sites" class="auto">
                  <i class="glyphicon glyphicon-blackboard"></i>
                  <span>多站点管理</span>
                </a>
              </li>
          <% elsif can? :update, Site %>
              <li class="<%= "active" if controller_name == "admin::sites" %>">
                 <a href="/admin/sites/<%= current_user.site.id %>/edit" class="auto">
                  <i class="glyphicon glyphicon-blackboard"></i>
                  <span>站点管理</span>
                </a>
              </li>
          <% end %>

          <% if can? :manage, User %>
              <li class="<%= "active" if controller_name == "users" %>">
                <a href="/managers" class="auto">
                  <i class="glyphicon glyphicon-user"></i>
                  <span>用户管理</span>
                </a>
              </li>
          <% else %>
              <li class="<%= "active" if controller_name == "users" %>">
                <a href="/managers" class="auto">
                  <i class="glyphicon glyphicon-user"></i>
                  <span>账号管理</span>
                </a>
              </li>
          <% end %>

          <% if current_user.role == "admin" %>
              <li class="<%= "active" if controller_name == "sites" %>">
                <a href="/sites/<%= current_user.site.id %>" class="auto">
                  <i class="fa fa-users"></i>
                  <span>查看网站效果</span>
                </a>
              </li>
          <% end %>

          <% if can? :manage, Category %>
              <li class="<%= "active" if controller_name == "admin::categories" %>">
                <a href="/admin/categories" class="auto">
                  <i class="fa fa-users"></i>
                  <span>菜单分类管理</span>
                </a>
              </li>
          <% end %>

          <% if can? :manage, ContentsClass %>
            <li class="<%= "active" if controller_name == "admin::contents_classes" %>">
              <a href="/admin/contents_classes" class="auto">
                <i class="fa fa-users"></i>
                <span>文字图片内容管理</span>
              </a>
            </li>
          <% end %>

          <li class="line dk hidden-folded"></li>
        </ul>
      </nav>
      <!-- nav -->
    </div>
  </div>
</aside>
