<div class="panel panel-default">
  <div class="panel-heading">
      内容分类列表
    <div class="pull-right">
      <%= link_to "新建内容分类", new_admin_contents_class_path, class: "btn btn-primary btn-xs" %>
    </div>
  </div>
   <div class="table-responsive">
    <table class="table table-striped b-t b-light">
      <thead>
        <tr>
          <th>分类名</th>
          <th style="width:120px;">创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @site.contents_classes.each do |contents_class| %>
          <tr>
            <td><%= contents_class.name %></td>
            <td><%= contents_class.created_at.strftime("%F %T")%></td>
            <td>
              <%= link_to "查看分类内容", admin_contents_path(contents_class_id: contents_class), class: "btn btn-success btn-xs" %>
              <%= link_to "修改", edit_admin_contents_class_path(contents_class), class: "btn btn-default btn-xs" %>
              <% if can? :delete, User %>
              <%= link_to "删除", contents_class_path(contents_class), method: :delete, class: "btn btn-default btn-xs" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
