<!DOCTYPE html>
<html>
  <head>
    <title>Websites</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- 显示logo and menu 内容 -->
    <%= render "sites/navbar" %>

    <%= yield %>
    
    <!-- 显示footer和copyright内容 -->
    <%= render "sites/footer_copyright" %>


  </body>
</html>
