<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @current_site.name %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <!-- 显示logo and menu 内容 -->
  <%= render "sites/navbar" %>


  <%= yield %>

  <!-- 显示footer和copyright内容 -->
  <%#= render "sites/footer_copyright" %>
</body>
</html>
