<div class="panel panel-default">
    <div class="panel-heading font-bold">
        站点页面设计
    </div>
    <div class="panel-body">
      <%= simple_form_for [:admin, @site] do |f| %>
          <%= f.input :site_name,  abel: "站点名字" %>
          <%= f.input :avatar, as: :file, label: "网站logo" %>

          <!-- navbar design -->
          <h3>网站导航设计</h3>
            <%= f.simple_fields_for :footer do |n| %>
              <% if @site&.footer&.avatar_url %>
                 <img src="/<%= @site.footer.avatar_url %>" alt="">
              <% end %>
              <%= n.input :avatar, as: :file, label: "footer网站logo", as: :string, input_html: {id: 'avatar',value: '1'} %>
              <%= n.input :company_number, label: "公司电话", as: :string, input_html: {id: 'company_number',value: '1'} %>
              <%= n.input :company_address, label: "公司地址", as: :string, input_html: {id: 'company_address',value: '1'} %>
          <% end %>

          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="col-sm-10 col-sm-offset-2">
              <%= f.button :submit, "提 交", class: "btn btn-primary" %>
              <%= link_to "返 回", admin_sites_path, class: "btn btn-default" %>
          </div>
      <% end %>
    </div>
</div>
