<%= simple_form_for [:admin, @site] do |f| %>
          <%= f.input :name,  abel: "站点名字" %>
          <%= f.input :domain, label: "站点域名" %>

          <!-- navbar design -->
          <h3>网站导航设计</h3>
            <%= f.simple_fields_for :footer do |n| %>
              <% if @site&.footer&.avatar_url %>
                 <img src="/<%= @site.footer.avatar_url %>" alt="">
              <% end %>
              <%= n.input :avatar, as: :file, label: "footer网站logo" %>
              <%= n.input :company_number, label: "公司电话" %>
              <%= n.input :company_address, label: "公司地址" %>
          <% end %>

          <div class="line line-dashed b-b line-lg pull-in"></div>
          <div class="col-sm-10 col-sm-offset-2">
              <%= f.button :submit, "提 交", class: "btn btn-primary" %>
              <%= link_to "返 回", admin_sites_path, class: "btn btn-default" %>
          </div>
<% end %>
