<tr>
  <td><%= site.name %></td>
  <td><%= site.domain %></td>
  <td>
    <%= link_to "查看", admin_site_path(site), class: "btn btn-default btn-xs" %>
    <%= link_to "修改", edit_admin_site_path(site), class: "btn btn-default btn-xs" %>
   <%if can? :manage, site%>
     <%= link_to "删除", admin_site_path(site), method: :delete, class: "btn btn-default btn-xs" %>
   <% end %>
  </td>
</tr>
