<tr>
  <td><%= link_to site.site_name, admin_site_path(site)%></td>
  <td><%= current_user.site_url %></td>
  <td><%= current_user.user_name %></td>
  <td><%= current_user.email %></td>
  <td><%= link_to("编辑", edit_admin_site_path(site), class: "btn btn-xs btn-primary")%></td>
</tr>
