<div class="panel panel-default">
    <div class="panel-heading font-bold">
        站点页面设计
    </div>
    <div class="panel-body">
      <%= render "form", site: @site %>
    </div>
</div>

<!-- navbar design -->
<h3>网站导航设计</h3>
<%= simple_form_for(@navbar, url: admin_site_navbars_path(site_id: params[:id])) do |f|  %>
    <%= f.input :avatar, as: :file, label: "网站logo" %>
    <%= f.input :site_menu1, label: "菜单名称" %>
    <%= f.input :site_menu2, label: "菜单名称" %>
    <%= f.input :site_menu3, label: "菜单名称" %>
    <%= f.input :site_menu4, label: "菜单名称" %>
    <%= f.button :submit, "提 交", class: "btn btn-primary" %>
<% end %>
